.sidenav{
  width: 250px;
}

@media (min-width: 700px) {
  .sidenav {
    display: none;
  }
}
app-navigation{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.w-100{
  width: 100%;
}
.content-container{
  padding: 0 15px 0 15px;
}
