<div class="presentation-container">
  <img class="profile-pic" src="../../../../../assets/marco.jpeg">
  <img class="art-resume" src="../../../../../assets/resume-large.png">

  <div class="subcontainer">
    <h1 class="title">It's me, Marco!</h1>
    <span class="text-center sub-title">Desenvolvedor Web Fullstack <br/> Angular & Spring</span>
    <div class="action-content">
      <a target="_blank" href="https://drive.google.com/file/d/128IscV1Uc68fD3aPt0qEobYBnALCr_4N/view?usp=sharing">
        <button mat-flat-button color="accent">Download CV</button>
      </a>
      <a href="mailto:marcoas2566@gmail.com?subject=assunto&message=mensagem">
        <button mat-flat-button>Entrar em contato</button>
      </a>

    </div>
  </div>
</div>
<div class="about-me-container">
  <span class="text-center title">Sobre mim</span>
  <p class="text">{{
    'Olá, meu nome é Marco Antônio, tenho ' + calcAge('1999-10-27') + ' anos de idade e sou Desenvolvedor Full Stack Java com 1 ano de experiência em Java (Spring/Spring Boot) e AngularJS (TypeScript). Estou em busca de oportunidades em empresas de tecnologia inovadoras, onde eu possa aplicar minha paixão pelo desenvolvimento de software e minha habilidade de aprendizado rápido.'
    }}</p>
</div>
